

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2> Two Way Data Binding !!!</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <!-- Example:-1 -->
                    <input type="text" class="form-control mb-2" (keyup)="onProsuctSearch($event)">
                    <p class="alert alert-danger" [innerHTML]="searchProductName"></p>
                    <hr>
                    <!-- Example:-2 -->
                    <input type="text" class="form-control mb-2" [(ngModel)]="searchStudentName">
                    <p class="alert alert-info" [innerHTML]="searchStudentName"></p>
                </div>
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <p 
               [ngStyle] = "{
                color : outOfStock ? 'red' : 'black'
               }"
            >
               Example of Attribute directive :
                I Love angular and Javasript ....
            </p>
        </div>
    </div>
</div>